body {
    display: flex; /* Make the body a flex container */
    min-height: 100vh; /* Set minimum body height for vertical centering */
    margin: 0;
    justify-content: center; /* Center content horizontally */
    align-items: center; /* Center content vertically */
    background-image: url("Assets/Teal paint background.png"); /* Replace with your actual filename */
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.container {
    text-align: center; /* Center text within the container */
    padding: 20px;
    background-color: rgba(13, 21, 66, 0.5); /* White background with some transparency */
    border-radius: 5px;
    border: 0.5px solid #E1C340;
}

h1 {
    font-family: 'Brittany Signature', sans-serif;
    color: #E1C340;
    font-size: 3em;
    margin-bottom: 20px;
}

h2 {
    font-family: 'Brittany Signature', sans-serif;
    color: #E1C340;
    font-size: 2em;
    margin-bottom: 20px;
}

.alice-regular {
    font-family: "Alice", serif;
    font-weight: 400;
    font-style: normal;
    color: #E1C340;
    margin-bottom: 20px;
}

#guest-name {
    padding: 10px;
    font-family: "Alice", serif;
    border: 1px solid #E1C340;
    color: rgba(13, 21, 66);
    border-radius: 5px;
    font-size: 16px;
    width: 250px;
    margin-bottom: 20px;
}

#guest-list { 
    font-family: "Alice", serif;
    color: #7e723c;
    background-color: rgba(182, 255, 233, 0.8);
}
#guest-list.hover { 
    font-family: "Alice", serif;
    color: #E1C340;
}

button {
    padding: 10px 20px;
    background-color: #E1C340;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
}
