@import url('https://fonts.cdnfonts.com/css/brittany-signature');

body {
    display: flex;
    min-height: 100vh;
    margin: 0;
    justify-content: center; 
    align-items: center; 
    background-image: url("./Teal.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    margin: 5rem;
}

.container {
    text-align: center;
    padding: 20px;
    background-color: rgba(13, 21, 66, 0.5);
    border: 0.5px solid #E1C340;
    margin: auto;
}

@media (max-width: 768px) {
    .container {
        background-color: transparent;
        border: none;
        margin: 0;
    }

    body {
        background-color: rgba(13, 21, 66);
        background-image: linear-gradient(rgba(13, 21, 66, 0.3), rgba(13, 21, 66, 0.6)), url("./Teal.png");
    }
    
    h1 {
        font-family: 'Brittany Signature', sans-serif;
        color: #E1C340;
        font-size: 3em;
        margin-bottom: 20px;
    }
}

.input {
    text-align:center;
    font-family: "Alice", serif;
    background-color: rgba(255, 255, 255);
    border-radius: 5px;
    border: 0.5px solid #E1C340;
    width: 75%; 
    height: 5rem; 
    padding: 10px;
    margin: 1rem;
    box-sizing: border-box;
}

h1 {
    font-family: 'Brittany Signature', sans-serif;
    color: #E1C340;
    font-size: 3em;
    margin-bottom: 20px;
    text-shadow: 1px 1px 1px rgba(13, 21, 66), 0 0 5px rgba(13, 21, 66), 0 0 5px rgba(13, 21, 66);
}

h2 {
    font-family: 'Brittany Signature', sans-serif;
    color: #E1C340;
    font-size: 2em;
    margin-bottom: 20px;
    text-shadow: 1px 1px 1px rgba(13, 21, 66), 0 0 5px rgba(13, 21, 66), 0 0 5px rgba(13, 21, 66);
}
h3 {
    font-family: 'Brittany Signature', sans-serif;
    color: #E1C340;
    font-size: 1.5em;
    margin-bottom: 20px;
    text-shadow: 1px 1px 1px rgba(13, 21, 66), 0 0 5px rgba(13, 21, 66), 0 0 5px rgba(13, 21, 66);
}

.alice-regular {
    font-family: "Alice", serif;
    font-weight: 400;
    font-style: normal;
    color: #E1C340;
    margin-bottom: 20px;
    text-shadow: 1px 1px 1px rgba(13, 21, 66), 0 0 5px rgba(13, 21, 66), 0 0 5px rgba(13, 21, 66);
}

#guest-name {
    padding: 10px;
    font-family: "Alice", serif;
    border: 1px solid #E1C340;
    color: rgba(13, 21, 66);
    border-radius: 5px;
    font-size: 16px;
    width: 250px;
    margin-bottom: 20px;
    text-align: center;
}

#guest-list {
    font-family: "Alice", serif;
    color: #7e723c;
    list-style: none;
    padding: 10px;
    margin: 0;
  }
  
  #guest-list li {
    margin-bottom: 5px;
  }
  
  #guest-list li:hover { 
    color: #E1C340;
    cursor: pointer;
  }
  
button {
    padding: 10px 20px;
    background-color: transparent;
    color: #E1C340;
    border: 1px solid #E1C340;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    font-family: "Alice", serif;
    text-shadow: 1px 1px 1px rgba(13, 21, 66), 0 0 5px rgba(13, 21, 66), 0 0 5px rgba(13, 21, 66);
}
button:hover {
    color: #00d9ff;
    border: 1px solid #00d9ff;
    transition: 0.2s;
    
}

.delete-guests {
    color: #000000;
    border: 1px solid #000000;
    background-color: #E1C340;
    border-radius: 5px;
    cursor: pointer;
    text-shadow: none;
}
.delete-guests:hover {
    color: #00d9ff;
    border: 1px solid #00d9ff;
    background-color: transparent;
    transition: 0.2s;
}

.rsvp-table {
    display: flexbox;
    border-collapse: collapse;
    width: 100%; /* Adjust width as needed */
    margin-bottom: 1rem;
  }
  
  .rsvp-table th,
  .rsvp-table td {
    /* Header and cell styles */
    padding: 0.5rem 1rem;
    border: 1px solid #ddd;
    text-align: left; /* Adjust alignment as needed */
  }
  
  .rsvp-table thead th {
    /* Header row styles */
    background-color: #f2f2f2;
  }
  .rsvp-table tbody {
    background-color: #f2f2f2; /* Adjust the color as needed */
  }
  
  .rsvp-table tbody.example-row { /* Target example rows specifically */
    background-color: #e0e0e0; /* Lighter grey for example rows */
    color: grey;
}
  .rsvp-table tbody td:last-child {
    position: relative; /* Enable positioning for checkbox */
  }
  
  .rsvp-table tbody td:last-child input[type="checkbox"] {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); /* Center checkbox within cell */
  }
  
  .rsvp-table tbody td:last-child input[type="checkbox"]:checked + label {
    background-color: red; /* Change background color on check */
  }
  
  .rsvp-table tbody td:last-child label {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    cursor: pointer; /* Indicate clickable area */
  }
  